.hand{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.foto_item{
    width: 150px;
    height: 200px;
    float: left;
    text-align: center;
    margin-right: 5px;
}
.foto_item img{
    width:150px;
}
